.navbar-header
  .navbar-header__left
    %a.navbar-brand{href: "/calender"}
      %img.header-logo{alt: "Money-plan", src: "//zaim-assets.s3-ap-northeast-1.amazonaws.com/assets/common/logo-default-160-20f4884d3ebcb6789b888a5fe11150841063af00821c6b2a509ab57edbfb4e38.png"}/
    .navbar-header__left__graph
      %i.material-icons
        = link_to new_registration_path(resource_name) do
          = icon('fas', 'lock', class: 'icon')
        新規登録
    .navbar-header__left__target
      %i.material-icons
        = icon('fas', 'clipboard', class: 'icon') 
        使い方
  .clear
.main-content
  #account-page.account-page
    .account-page__inner.clearfix
      .account-page__inner--left.account-page__header
        %h2 Log in
        %h5 登録しているユーザーでログイン
        = render "devise/shared/links"
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :"メールアドレス"
            .field-input
              = f.email_field :email, autofocus: true
            .field
              .field-label
                = f.label :"パスワード"
                %i (英数字8文字以上)
              .field-input
                = f.password_field :password, autocomplete: "off"
            .actions
              = f.submit "ログイン", class: 'btn'
.footer-login
